body {
    background-image: radial-gradient(circle, rgba(104, 209, 216, 0.5), rgba(1, 1, 108, 0.68)), url("images/fonds.jpg");
    background-size: cover;
}

h1 {
    text-align: center;
    color: white;
}

form {
    text-align: center;
    margin: 50px;
}

input {
    width: 300px;
    height: 25px;
}

#btn {
    background-color: rgba(104, 209, 216, 0.5);
    width: 100px;
    height: 30px;
}

h3 {
    clear: both;
    margin-left: 20px;
    color: white;
}

li {
    margin: 10px;
    padding-left: 20px;
    color: white;
    font-size: 1.5em;
}

a {
    color: rgb(0, 238, 255);
}


img {
    float: left;
    margin: 20px;
}